.headbar {
  width:100%;
  /* float:left; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* padding: 8px 16px; */
  /* float:left; */
  /* position: absolute; */
  z-index: 1;
  background-color: #456FFF;
  color: #fff;
}

.headbar a {
  color: #fff;
}
.headbar_content {
  color: #fff;
}

.navbar-toggler {
  color: #fff;
}