<div>
    <div>
      <form #nodeNavForm="ngForm" (ngSubmit)="createNodeNav(nodeNavForm)" novalidate>
        <input type="text" id="title" class="form-control" placeholder="Type a nodename and press enter..." 
               required
               name="title" [(ngModel)]="newNodeNav.name"
               #title="ngModel" >
      </form>
    </div>
    
    <ul class="todo-list">
      <li *ngFor="let nodeNav of nodeNavs; let i = index"> 
        <div>
            <span *ngIf="nodeNav">
              ({{ i }}) : {{ nodeNav.name }}
            </span>
            <span class="todo-actions">
                <a (click)="editNodeNav(nodeNav)">
                  <i class="material-icons edit">edit</i>
                </a>
                <a (click)="deleteNodeNav(nodeNav.id)">
                  <i class="material-icons delete">clear</i>
                </a>
            </span>
        </div>
        <div class="todo-edit" *ngIf="editing && editingNodeNav.id === nodeNav.id">
            <input class="form-control" type="text" 
             [(ngModel)]="editingNodeNav.name" required>
            <span class="edit-actions">
                <a (click)="editNodeNav(editingNodeNav)">
                  <i class="material-icons">done</i>
                </a>
                <a (click)="clearEditing()">
                  <i class="material-icons">clear</i>
                </a>
            </span>
        </div>
      </li>
    </ul>
    <div class="no-todos" *ngIf="nodeNavs && nodeNavs.length == 0">
        <p>No Node-Navs Found!</p>
    </div>
</div>

<input type="text" id="temp" class="form-control" placeholder="enter..." [(ngModel)]="temp">
{{ temp }}