.sidebar {
  /* background-color: #ec7; */
  /* border: 1px seagreen solid; */
  width:100%;
  float:left;
}

.sidenav-static {
  width: 100%;
  z-index: 5;
  /* position: absolute; */
  overflow-y: auto;
  overflow-x: hidden;
  height: 600px;
  background-color: burlywood;
}

.example-container {
  width: 100%;
  height: 600px;
  background-color: #fff;
}

.example-sidenav-content {
  display: flex;
  /* height: 100%; */
  width: 100%;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid slateblue;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
